.font-400 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400; 
}

.font-500 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.font-700 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
}